# Puerto de escucha del servidor Express
PORT=5000

# Configuración de base de datos MySQL
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=su_contraseña_de_mysql
DB_PORT=3306
DB_NAME=saludsd

# Configuración de sesión JWT
JWT_SECRET=saludsd_secret_key_de_producción_cambiar_esta_clave_segura_de_32_bytes
JWT_EXPIRES_IN=15m

# Configuración de cifrado determinista AES-256 para RUT (Llave = 32 bytes, IV = 16 bytes)
ENCRYPTION_KEY=clave_cifrado_aes_256_de_32_bytes_de_largo_gob
ENCRYPTION_IV=iv_cifrado_de_16_bytes_de_largo

# Configuración de CORS (orígenes permitidos separados por coma)
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174

# Configuración de Nodemailer / SMTP (Si se dejan vacíos, se usará Ethereal de prueba)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
